<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Persona Bot</title>
</head>

<body>
  <h3 class="text-center">Welcome!</h3>
  <p>


    <div class="container">
      <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
          url = "main_url" <br>
          ## test <br>
          response = requests.get(url) <br>
          print(response.text) <br>
          <br>
          ##to chat <br>
          url = url+'chat'
          params ={'query': 'Hi'} <br>
          response = requests.get(url, params) <br>
          print(response.json()) <br>
          <br>
          ##get history <br>
          url = url+'history' <br>
          response = requests.get(url) <br>
          print(response.json()) <br>
          <br>

          ##Get List of available personalities <br>
          url = url+'persona' <br>
          response = requests.get(url) <br>
          print(response.json()) <br>
          <br>

          ##select personality <br>
          url = url+'set_persona/0' <br>
          response = requests.put(url) <br>
          print(response.text) <br>
          <br>
          #Add persona <br>
          <br>
          url = url+'add_persona' <br>
          data ={"persona":"descrive your personality", <br>
                "back_story":"give a backstory for candidate", <br>
                "history":"give predefined history" <br>
                } <br>

          headers = {'Content-type': 'application/json', 'Accept': 'text/plain'} <br>
          response = requests.post(url, data=json.dumps(data), headers=headers) <br>
          print(response.json()) <br>
          <br>

          ## Delete persona <br>
          url = url+'remove_persona/1' <br>
          response = requests.delete(url) <br>
          print(response.json()) <br>

        </div>
        <div class="col">

        </div>
      </div>
    </div>


  </p>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>