<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Persona Bot</title>
</head>

<body>
  <div class="container-fluid ">
    <div class="row">
      <div class="col col-lg-2">
        </div>
          <div class="col-md-auto">
            <h1 class="text-center">Welcome!</h1>
            <p>You can use <strong>curl</strong> to test this API</p>
            <h4>To get this page</h4>
            <pre><code> curl http://chat-bot-url/</code></pre>
            <h4>To Chat</h4>
            <pre><code> curl http://chat-bot-url/chat?query=hi </code></pre>
            <h4>To Chat</h4>
            <pre><code> curl http://chat-bot-url/chat?query=hi </code></pre>
            <h4>To get Chat History</h4>
            <pre><code> curl http://chat-bot-url/history </code></pre>
            <h4>To get list of available persona</h4>
            <pre><code> curl http://chat-bot-url/persona </code></pre>
            <h4>Set a Persona</h4>
            <p>To set a persona to chat with use PUT request like below</p>
            <pre><code> curl http://chat-bot-url/set_persona/&lt;int:persona_id&gt; -X PUT -v </code></pre>
            <p>i.e :
              <pre><code> curl http://chat-bot-url/set_persona/1 -X PUT -v </code></pre>
            </p>
            <h4>Create Persona</h4>
            <p>To create a persona first create a json file like below </p>
            <pre><code>                  
                  {"persona":"my name is andrew .i like to code . i like python .i like data science . my favorite holiday is christmas.",
                  "back_story":" i started programming in 2015 . it is really fun and challenging. i started my programming using c.\
                                  now i code in python most of the time.",
                  "history":"i'm great today ! i'm reading a new book on deep learning"      
                  }            
                </code></pre>
            <p>then send POST request like below </p>
            <pre><code> curl  -d @data.json -H "Content-Type: application/json" http://chat-bot-url/add_persona -X POST -v </code></pre>
            <h4>Delete Persona</h4>
            <p>To delete a persona use DELETE request like below</p>
            <pre><code> curl http://chat-bot-url/remove_persona/&lt;int:persona_id&gt; -X DELETE -v </code></pre>
            <p>i.e :
              <pre><code> curl http://chat-bot-url/remove_persona/1 -X DELETE -v </code></pre>
            </p>
            <p class="text-center"> Go to this <a href="https://github.com/zparvez2z/ChatBots/tree/master/PersonaBot"
              class="badge badge-info" target="_blank">page</a> for more</p>
          </div>
        <div class="col col-lg-2">
        </div>
    </div>
  </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>